.admin__page {
  /* Works in Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #d0d0d0 white;
  }

  /* Works in Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    border-radius: 20px;
  }


  &--header-container {
    margin-top: 1.5rem;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    flex-direction: row;


    &-div {
      margin-right: auto;
    }
  }

  &---add-vacation-btn {
    margin-left: auto;
  }

  &--content {
    margin-top: 1.4rem;

    &--vacations-table {
      height: 100%;
      width: 100%;

      &-row {
        overflow-y: auto;

        &--description {
          & > a {
            & > div {
              padding-right: .5rem;
            }
          }
        }

        &--action-btns {
          display: flex;
          justify-content: space-around;

          &--edit-btn {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
