.navbar {
  width: 100%;
  padding-top: 1rem;
  padding-right: 15px;
  padding-left: 15px;
  //background-color: rgba(249,249,249, .9);

  &-brand {
    //line-height: 1.7;
    font-size: 1.3rem;
    padding-top: 0;
    //padding-bottom: 0;
  }
}

.navbar-expand {
  justify-content: space-between;
}

.navbar__home {
  justify-content: flex-start;
}

.navbar__login {
  justify-content: flex-end;
}
